__pycache__/
*.pyc
tests/
.mypy_cache/
.pytest_cache/
.vscode/
lambdas
.aws_sam/
.env
Makefile
README.md
samconfig.toml
template.yaml
pytest.ini
Dockerfile
docker-compose.yml
.pre-commit-config.yaml
.gitlab-ci.yml
.gitignore
.flake8
