[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
aws-sam-cli = "*"
mypy = "*"
gitlabci-local = "*"
moto = "*"

[packages]
boto3 = "*"
pymisp = "*"
trustar = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
